nav {
  text-align: center;
  background-color: grey;
}

h2 a {
  color: black;
}

.navbar-default {
  background-color: #A9E0A6;
}

.babyAnimal h3 {
  text-align: center;
}

.babyAnimal img {
  max-height: 200px;
  max-width: 320px;
}
