<nav class="navbar navbar-default">
  <h2 id="title">Welcome to
    <span style="color:red;">e</span>
    <span style="color:blue;">B</span>
    <span style="color:yellow;">a</span>
    <span style="color:blue;">b</span>
    <span style="color:green;">y</span>
  </h2>
</nav>

{{outlet}}
