<nav class="navbar navbar-default">
  <h2 id="title">
    <a href="/">
      Welcome to
      <span style="color:red;">e</span>
      <span style="color:blue;">B</span>
      <span style="color:yellow;">a</span>
      <span style="color:blue;">b</span>
      <span style="color:green;">y</span>
    </a>
  </h2>
  <div class="pull-right">
    {{#link-to 'admin'}}Admin{{/link-to}}
  </div>
</nav>

<div class="container">

  {{outlet}}

</div>

<footer>
  
</footer>
