<div class="row">
  <div class="col-sm-10">
    <h1>Welcome to eBaby!</h1>
    <h4>Fresh babies to your door!</h4>
  </div>

  <div class="col-sm-2">
    {{display-basket}}
  </div>
</div>


{{baby-animal-list babies=model}}
