
<div class="jumbotron">
  <div class="title">
    <h1>Welcome to eBaby!</h1>
    <h4>Fresh babies to your door!</h4>
  </div>
</div>
<div class="container">
    {{baby-animal-list babies=model}}
</div>
